<footer>
	<div class="inner">
	    <div class="col-5">
	        <div>
	            <a href="/">
	                <img src="../img/logo.png" alt="">
	            </a>
	            <p class="f-s11">© 2016 Название,  <br>LLC. All Rights Reserved.</p>
	        </div>
	        <div>
	            <div class="title">Навигация</div>
	            <ul>
	                <li><a href="#">Главная</a></li>
	                <li><a href="#">О компании </a></li>
	                <li><a href="#">Новости</a></li>
	                <li><a href="#">Контакты</a></li>
	                <li><a href="#">Сервис и поддержка</a></li>
	            </ul>
	        </div>
	        <div>
	            <div class="title">Категории</div>
	            <ul>
	                <li>
	                    <a href="#">Телефоны</a>
	                    <a href="#">Ноутбуки и планшеты</a>
	                    <a href="#">Компьютеры</a>
	                    <a href="#">Аксессуары</a>
	                </li>
	            </ul>
	        </div>
	        <div>
	            <div class="title">Контактная информация</div>
	            <div class="footer__contacts">
	                <p><span>г.Екатеринбург,</span> ул. Ленина 50б офис 526</p>
	                <p><span>Телефон:</span>  +7 343 302 14 88</p>
	                <p><span>E-mail:</span>  info@elgrow.ru</p>
	            </div>
	            <div class="social">
	                <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
	                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	            </div>
	        </div>
	        <div>
	            <a href="http://elgrow.ru/" target="web"><img class="elgrow-logo" src="../img/elgrow-logo.png" alt=""></a>
	            <span class="f-s11">Сайт разработан, <br>Elgrow, 2016</span>
	        </div>
	    </div>
	   <div class="clear"></div>
	</div>
</footer>