<head lang="ru">
	<meta charset="UTF-8">
	<title>Template</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="/favicon.ico">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/main.css">
	
</head>






<!--Modals -->


<div id="cart-added" class="modal center">
    <div class="modal-inner">
        <div class="fancy-close close-modal"> 
            <div></div>
            <div></div>
        </div>
        <div class="modal-content">
            <p class="f-s17 margin-0">Товар добавлен в корзину</p>
            <p>Товаров в вашей корзине: <span>2</span></p>
            <div class="button close-modal">Закрыть окно</div>
            <a class="button" href="cart.html">Перейти в корзину</a>
        </div>
    </div>
</div>


<div id="login" class="modal center modal-login">
    <div class="modal-inner">
        <div class="fancy-close close-modal"> 
            <div></div>
            <div></div>
        </div>
        <div class="modal-content" id="auth">
            <h3 class="f-s17">Авторизация</h3>
            <div class="input">
	          <label for="login-email">E-mail</label>
	          <input type="text" required="" id="login-email">
	       </div>
	       <div class="input">
	          <label for="login-password">Пароль</label>
	          <input type="password" required="" id="login-password">
	       </div>
	       <div class="button fullWidth-button">Вход</div>
        </div>
        <div class="modal-content" style="display:none;" id="register">
            <h3 class="f-s17">Регистрация</h3>
            <div class="input">
	          <label for="fio-email">ФИО</label>
	          <input type="text" required="" id="fio-email">
	       </div>
            <div class="input">
	          <label for="register-email">E-mail</label>
	          <input type="text" required="" id="register-email">
	       </div>
	       <div class="input">
	          <label for="register-password">Пароль</label>
	          <input type="password" required="" id="register-password">
	       </div>
	       <div class="button fullWidth-button">Вход</div>
        </div>
        <div class="modal-content" style="display:none;" id="password">
            <h3 class="f-s17">Восстановление пароля</h3>
            <div class="input">
	          <label for="register-email">E-mail</label>
	          <input type="text" required="" id="register-email">
	       </div>
	       <div class="button fullWidth-button">Восстановить</div>
        </div>
    </div>
    <div class="bottom-modal">
        <span class="to-register">Регистрация</span>
        <span style="display:none;" class="to-login">Авторизация</span>
        <span> | </span>
        <span class="to-password">Забыли пароль?</span>
    </div>
</div>