<header class="header">
	<div class="inner">
	    <div class="logo">
	        <div>
	            <a href="/">
	                <img src="/img/logo.png" alt="">
	            </a>
	        </div>
	    </div>
	    <div class="header-nav-bar search-nav">
            <div>
                <div>
                    <div class="search">
                        <form action="search.html" class="serachinput">
                            <input type="text" placeholder="Поиск...">
                        </form>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
	    <div class="menu-centred">
	        <div class="main-menu">
	            <ul>
	                <li><a href="catalog.html">Каталог</a></li>
	                <li><a href="about-company.html">О компании</a></li>
	                <li><a href="news.html">Новости</a></li>
	                <li><a href="contacts.html">Контакты</a></li>
	                <li><a href="shippint.html">Доставка и оплата</a></li>
	            </ul>
	        </div>
	        <div class="menu-clicker"><div></div><div></div><div></div></div>
	    </div>
	    <div class="header-nav-bar">
            <div>
                <div>
                    <div class="cart">
                       <div class="cart-button">
                            <i class="icon-cart">
                                <span class="count-poducts">3</span>
                            </i>
                            <span>Корзина</span>
                        </div>
                        <div class="cart-popup">
                            <div class="products-list">
                                <div class="product-li">
                                    <div class="image"><img src="../img/tovar-image.png" alt=""></div>
                                    <div class="description">
                                        <div class="price">15 990 р.</div>
                                        <a href="#" class="title">7" Планшет Irbis TZ02 8 Гб черный</a>
                                        <div class="subtext">[1024x600, TN+Film, 4х1.2 ГГц, 512 Мб, 2500 мАч, Android 4</div>
                                    </div>
                                </div>
                                <div class="product-li">
                                    <div class="image"><img src="../img/tovar-image.png" alt=""></div>
                                    <div class="description">
                                        <div class="price">15 990 р.</div>
                                        <a href="#" class="title">7" Планшет Irbis TZ02 8 Гб черный</a>
                                        <div class="subtext">[1024x600, TN+Film, 4х1.2 ГГц, 512 Мб, 2500 мАч, Android 4</div>
                                    </div>
                                </div>
                            </div>
                            <div class="itog">
                                <span class="f-s15">Итого: 15 990 р.</span>
                                <a href="cart.html" class="button">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                    <div class="person-cab-button popup-link" href="javascript:void(0);" data-href="#login"><i class="fa fa-user" aria-hidden="true"></i><span>Личный кабинет</span></div>
                </div>
            </div>
            
	    </div>
	</div>
</header>