@font-face{
    font-family:R;
    src: url('@{fonts_patch}/Ubuntu-R.ttf');
}
@font-face{
    font-family:L;
    src: url('@{fonts_patch}/Ubuntu-L.ttf');
}
@font-face{
    font-family:M;
    src: url('@{fonts_patch}/Ubuntu-M.ttf');
}
@font-face{
    font-family:B;
    src: url('@{fonts_patch}/Ubuntu-B.ttf');
}
@font-face{
    font-family:LI;
    src: url('@{fonts_patch}/Ubuntu-LI.ttf');
}