body{
    font-family: R;   
    font-size:13px;
}
h1,h2,h3,h4,h5{
    font-family: R;   
    font-weight: normal;
}
input, textarea, select{
    font-family: R; 
}
h1{
    font-size:42px;
    text-transform: uppercase;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
    text-transform: uppercase;
}
h5{
    font-family: 13px;
    text-transform: uppercase;
}
.f-s11{
    font-size:11px;
}
.f-s15{
    font-size:15px !important;
}
.f-s17{
    font-size:17px !important;
}
.f-s35{
    font-size:35px;
}
.margin-0{
    margin: 0;
}
.main-color{
    color:@main-color;
}
.center{
    text-align: center;
}
input{
    background:white;
    border-radius: 2px;
    outline:none;
    border:1px solid #e7e8eb;
    transition: all 0.3s;
    padding: 4px 10px;
    &:focus{
        border:1px solid @main-color-light;
        background:lighten(@main-color-light, 25%);
    }
}
.input{
    label{
        display: block;
    }
    input{
        width: 100%;
        padding: 6px 10px;
        margin-top: 5px;
    }
    &.required{
        label:after{
            content:' *';
            color:@main-color;
        }
    }
    .radiobox{
        float:left;
        margin-right: 20px;
        margin-top:4px;
    }
    &.input-3{
        .input{
            width: 26%;
            margin-right:10%;
            margin-bottom:0;
            float:left !important;
            &:last-child{
                margin-right:0;
            }
        }
    }
}
.clear{
    width:100%;
    clear: both;
}
.border-bottom{
    border-bottom:1px solid #e7e8eb;
}
.button, input[type="submit"], button{
    background:@main-color;
    color:white !important;
    text-align: center;
    border-radius: 3px;
    transition: all 0.3s;
    padding: 8px 10px;
    display: inline-block;
    min-width: 120px;
    cursor: pointer;
    &:hover{background:@main-color-light; text-decoration: none;}
    &.fullWidth-button{
        width:100%;
        padding: 8px 0px;
    }
}

.cart-button{
    cursor: pointer;
    text-transform: uppercase;
    margin-right:20px;
    transition:all 0.3s;
    span{
        font-size:13px;
    }
    &:hover{
        color:@main-color;
    }
}
.person-cab-button{
    cursor: pointer;
    transition:all 0.3s;
    text-transform: uppercase;
    float:left;
    font-size:13px;
    i{
        display: none;
    }
    &:hover{
        color:@main-color;
    }
}
.icon-cart{
    background:url('@{img_patch}cart-icon.png') no-repeat;
    width:17px;
    height:15px;
    display: inline-block;
    font-style: normal;
    position: relative;
    margin-right:8px;
    top: 3px;
    .count-poducts{
        background:@main-color;
        color: #fff;
        width: 16px;
        display: inline-block;
        height: 16px;
        border-radius: 50%;
        font-size: 11px;
        text-align: center;
        line-height: 16px;
        position: absolute;
        top: -7px;
        right: -8px;
    }
}
header{
    min-height:@header-height;
    background: @main-gray;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 5;
    .logo{
        float:left;
        display: table;
        position: relative;
        z-index: 2;
        height:@header-height;
        &>div{
            display:table-row;
            &>a{
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .menu-centred {
        position: absolute;
        left: 0;
        right: 0;
    }
    .main-menu{
        display: table;
        margin: 0 auto;
        height:@header-height;
        ul{
            display: table-row;
            li{
                display: table-cell;
                vertical-align: middle;
                padding:0px 14px;
                a{
                    color:#c2c2c2;
                    transition:all 0.3s;
                    text-transform: uppercase;
                    &.active, &:hover{
                        color:white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .header-nav-bar{
        float:right;
        position: relative;
        z-index: 2;
        display: table;
        color:white;
        font-size: 15px;
        height:@header-height;
        &>div{
            display: table-row;
            &>div{
                display: table-cell;
                vertical-align: middle;
                i{
                    cursor:pointer;
                }
                
                .search, .cart{
                    float:left;
                    margin-left:22px;
                    line-height: 1px;
                    position: relative;
                    i{
                        transition:all 0.3s;
                    }
                    form.serachinput {
                        left: -8px;
                        position: absolute;
                        top: -4px;
                        input{
                            background: none;
                            color: white;
                            text-indent: 20px;
                            width:0;
                            padding:4px 0;
                            transition:all 0.3s;
                            border:1px solid transparent;
                        }
                    }
                    &.active{
                        i{
                            color:@main-color;
                        }
                        form.serachinput input{
                            width: 130px;
                            padding: 6px 10px;
                            margin-top: -2px;
                            border: 1px solid #5D5D5D;
                        }
                    }
                }
            }
        }
    }
}
.search-nav{
    float:left !important;
    margin-left:10px;
}
.col-5{
    &>div{
        width:19%;
        margin-right:1%;
        float:left;
    }
}
footer{
    background:@main-gray;
    width:100%;
    padding: 25px 0 35px 0;
    clear: both;
    color:#bcbbbd;
    .title{
        color:white;
        text-transform: uppercase;
        margin-bottom:8px;
    }
    ul{
        padding: 0;
        margin:0;
        list-style: none;
        li{
            a{
                color:#bcbbbd;
                display: block;
                transition:all 0.3s;
                &:hover{
                    color:#ffffff;
                    text-decoration: none;
                }
            }
        }
    }
    .elgrow-logo{
        float:left;
        margin-right:12px;
    }
    .footer__contacts{
        p{
            margin:0;
            span{color:white;}
        }
    }
    .col-5{
        &>div:nth-child(1){}
        &>div:nth-child(2){width:15%;}
        &>div:nth-child(3){width:15%;}
        &>div:nth-child(4){width:27%;}
        &>div:nth-child(5){}
    }
}
.inner{
    width:@max-width;
    margin:0 auto;
}
.inner-content{
    padding:25px 0;
    clear: both;
}
.content{
    min-height:85%;
    color:#4d4d4d;
    h2{
        text-transform: uppercase;
        margin-top: 35px;
    }
    ol{
        width: 100%;
        clear: both;
        padding: 15px 0 10px 0;
        padding: 0;
        counter-reset: item;
        list-style: none;
        li{
            margin:2px 0;
            &:before {
                content: counter(item) ") ";
                counter-increment: item;
                color:@main-color;
                font-size: 15px;
                margin-bottom: 2px;
            }
        }
    }
    ul{
        width: 100%;
        clear: both;
        padding: 15px 0 10px 0;
        padding: 0;
        list-style: none;
        li{
            margin:2px 0;
            &:before {
                background:@main-color;
                content:'';
                display: inline-block;
                width:5px;
                height:5px;
                margin-right:5px;
                border-radius: 50%;
                margin-bottom: 2px;
            }
        }
    }
}
.breadcrumbs{
    font-size:11px;
    a{
        color:#bababa;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    span{
        color:white;
        &.h-l{color:#bababa;}
    }
}
.date{
    color:#b4b4b6;
    font-size:11px;
}
.social{
    margin-top:18px;
    &>a{
        float: left;
        width: 32px;
        height: 32px;
        border-radius: 2px;
        border: 1px solid #6f6f73;
        color: #6f6f73;
        text-align: center;
        line-height: 32px;
        font-size: 17px;
        transition:all 0.3s;
        margin-right: 6px;
        &:hover{
            border:1px solid @main-color;
            color:@main-color;
        }
    }
}
.products-menu{
    margin-top:34px;
    &>li{
        &:first-child{
            &>a{
               box-shadow: 0 -1px 0 0 #f2f2f4, 0 1px 0 0 #f2f2f4; 
                &:before{
                    content: '';
                    position: absolute;
                    height: 41px;
                    margin-top: -10px;
                    width:99999px;
                    margin-left:-99999px;
                    box-shadow: 0px -1px 0 0px #f2f2f4, 0px 1px 0 0px #f2f2f4;
                }
            }
        }
        &.parent{
            &>a:after{
                content:'';
                width:4px;
                height:7px;
                background:url('@{img_patch}arrows-menu.png');
                display: block;
                position: absolute;
                right: 20px;
                margin-top: -12px;
                color: black;
                transition: transform 0.5s;
            }
        }
        &:before{display: none !important;}
        &>a{
            display: block;
            color: #464451;
            height: 20px;
            transition: all 0.3s;
            box-shadow: 0 1px 0 0 #f2f2f4;
            padding: 10px 0 11px;
            &:before{
                content: '';
                position: absolute;
                height: 41px;
                margin-top: -10px;
                width:99999px;
                margin-left:-99999px;
                transition: all 0.3s;
                box-shadow: 0px 1px 0 0px #f2f2f4;
            }
            &:hover{
                color:@main-color;
                text-decoration: none;
                &:after{
                    background-position: 0px -7px;
                }
            }
            
        }
        
        &>ul{
            display: none;
            margin-top:10px;
            margin-bottom:15px;
            overflow: hidden;
            a{
                color:#464451;
                transition: all 0.3s;
                display: inline-block;
                padding: 2px 0;
                .count{
                    color:@main-color;
                }
                &:hover{
                    color:@main-color;
                    text-decoration: none;
                }
            }
        }
        &.active{
            &>a{
                background:@main-color;
                color:white;
                &:before{
                    background:@main-color;
                }
                &:after{
                    background-position: 0px -14px;
                    transform:rotate(90deg);
                }
            }
            &>ul{
                display: block;
            }
            & + li{
                &>a{
                    box-shadow: 0 -1px 0 0 #f2f2f4, 0 1px 0 0 #f2f2f4; 
                    &:before{
                        content: '';
                        position: absolute;
                        height: 41px;
                        margin-top: -10px;
                        width:99999px;
                        margin-left:-99999px;
                        box-shadow: 0px -1px 0 0px #f2f2f4, 0px 1px 0 0px #f2f2f4;
                    }
                }
            }
        }
    }
}
.cart-popup{
    position: absolute;
    right:-25px;
    display: none;
    top:30px;
    width:500px;
    border-radius: 3px;
    border:1px solid #e7e8eb;
    background:white;
    color:#464451;
    line-height: normal;
    &:before{
        content:'';
        display: block;
        border-bottom:6px solid white;
        border-left:5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        top:-6px;
        right: 116px;
    }
    .product-li{
        padding: 15px 15px 15px 10px;
        overflow: hidden;
        border-bottom:1px solid #f2f2f4;
        line-height: normal;
        color:#464451;
        .price{
            float: right;
            padding: 16px 0px;
            margin-left: 30px;
        }
        .subtext{
            color:#b4b4b6;
            font-size:11px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .title{
            font-size: 15px;
            color: #464451;
            padding-top: 7px;
            display: block;
            padding-bottom: 6px;
            transition: all .3s;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover{
                color:@main-color;
            }
        }
    }
    .image{
        float:left;
        width:80px;
        height:50px;
        margin-right:10px;
        text-align: center;
        img{
            max-width:100%;
            max-height:100%;
        }
    }
    .itog{
        border-top:1px solid #e7e8eb;
        background:#fafbfc;
        padding: 15px 15px 15px 30px;
        overflow: hidden;
        .button{
            float:right;
        }
        span{
            padding-top: 9px;
            display: inline-block;
        }
    }
}
.radiobox{
    input[type="radio"]{
        display: none;
    }
    label:before{
        content:'';
        display: inline-block;
        width: 15px;
        cursor: pointer;
        height: 15px;
        box-shadow: 0 0 0 1px @main-color inset, 0px 0px 0px 10px white inset;
        border-radius: 50%;
        margin-right: 8px;
        background:@main-color;
        transition: all 0.3s;
        position: relative;
        top: 3px
    }
    input[type="radio"]:checked + label:before{
       box-shadow: 0 0 0 1px @main-color inset, 0px 0px 0px 4px white inset; 
    }
    label{
        padding: 5px 0;
        display: block;
        
    }
}
.checkbox{
    input[type="checkbox"]{
        display: none;
    }
    label:before{
        content:'';
        display: inline-block;
        width: 17px;
        cursor: pointer;
        height: 17px;
        box-shadow: 0 0 0 1px @main-color inset;
        margin-right: 8px;
        background:url('@{img_patch}check.png') center no-repeat;
        background-size:0px 9px;
        transition: all 0.3s;
        position: relative;
        top: 3px
    }
    input[type="checkbox"]:checked + label:before{
        background:@main-color url('@{img_patch}check.png') center no-repeat;
        background-size:10px 9px;
    }
    label{
        padding: 5px 0;
        display: block;
        
    }
}