.content-topped-type-1{
    height:100%;
    width:100%;
    &.about-company-image{
        background:url('@{img_patch}about-company-bg.jpg');
        background-position: center;
        background-size:cover;
    }
    .middle-text{
        position: absolute;
        top:45%;
        left:50%;
        transform: translate(-50%,-50%);
        max-width: 680px;
    }
}
.content-topped-type-2{ 
    height:210px;
    width:100%;
    position: relative;
    background:url('@{img_patch}header-bg-1.jpg');
    background-position: center;
    background-size:cover;
    margin-top:@header-height;
    .middle-text{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:90%;
        max-width: none;
        
    }
    h1{
        margin-top:5px;
    }
}
.content-topped{
    text-align: center;
    color:white;
    h1{
        color:white;
    }
}
.scroll-down{
    background: url('@{img_patch}/arrow-down.png');
    width: 37px;
    height: 37px;
    opacity: .6;
    bottom: 60px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    cursor: pointer;
    &:hover{
        opacity:0.8;
    }
}
.news-full-content{
    border-radius: 2px;
    box-shadow: 0px 0px 0px 1px #e7e8eb inset;
    position: relative;
    min-height:365px;
    overflow: hidden;
    margin-bottom:45px;
    margin-top: 45px;
    .image{
        height:100%;
        width:50%;
        position: absolute;
        left:0;
        bottom:0;
        top:0;
        float:left;
        background-position: center !important;
        background-size:cover !important;
    }
    .preview-description{
        padding-left: 50%;
        &>div{
            padding:30px;
            .title-element{
                font-size: 20px;
                color: #464451;
                margin: 16px 0;
                float: left;
            }
            .text{
                clear: both;
                padding-bottom:25px;
            }
        }
    }
}
.gray-layout{
    background:#fafbfc;
    width:100%;
    clear: both;
    padding:40px 0;
    float: left;
}
.news-list{
    min-height: 530px;
    border-top:1px solid #e7e8eb;
}
.news{
    width:100%;
    float: left;
    clear: both;
    &>a{
        &:nth-child(4n+1){margin-left:0;}
        &:nth-child(4n+4){margin-right:0;}
    }
}
.news-element{
    border-radius: 3px;
    overflow: hidden;
    display: block;
    width:23%;
    float:left;
    margin:1.3333333%;
    text-decoration: none !important;
    background:white;
    box-shadow: 0px 0px 0px 1px #e7e8eb;
    transition: all 0.3s;
    height:346px;
    .image{
        height:236px;
        width:100%;
        background-position: center !important;
        background-size:cover !important;
    }
    .title{
        color:#464451;
        font-size:15px;
        transition:all 0.3s;
        height: 60px;
        overflow: hidden;
    }
    .text{
        padding:15px 22px;
    }
    &:hover{
        box-shadow: 0px 0px 0px 1px @main-color;
        .title{
            color:@main-color;
        }
    }
}
.pagination{
    text-align: center;
    margin-top: 36px;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom:30px;
    .disabled{
        color:#c3c4c8;
    }
    &>*{
        display: inline-block;
    }
    &>a{
        &:hover{
            color:@main-color;
        }
    }
    a{
        color: #464451;
        padding: 2px 5px;
        display: inline-block;
        text-decoration: none; 
        transition: all 0.3s;
        &.active{
            color:@main-color;
        }
        
    }
    .numbers{
        margin:0px 10px;
        a{
            border-radius: 3px;
            width: 15px;
            text-align: center;
            &:hover{
                background:@main-color;
                color:white;
            }
        } 
        span.active{
            color:@main-color;
            padding: 2px 5px;
        }
    }
}
.left-column-text{
    float:left;
    width:26.5%;
    padding-left:5.2%;
    padding-top:30px;
    &>img{
        width:100%;
    }
    .subtext{
        font-family:LI;
        color:#464451;
    }
}
.right-column-text{
    float:right;
    width:60.44%;
    padding-top:30px;
    padding-right:5.4%;
    h2{
        margin-top:0;
    }
}
.news-content{
    margin-bottom: 50px;
}
.content-paddings{
    padding-bottom:40px;
    padding-top: 40px;
    clear: both;
}
.search-paddings{
    float:left;
    width:100%;
}
.contacts-map{
    clear: both;
}
.contact-blocks{
    &>div{
        float:left;
        background:white;
        border-radius: 3px;
        margin: 0 2.3%;
        float:left;
        width:16.4%;
        padding:2.5%;
        cursor: pointer;
        box-shadow:0px 0px 0px 1px #e7e8eb;
        transition: all 0.3s;
        p{
            margin:2px 0;
        }
        h5{
            transition: all 0.3s;
        }
        &:first-child{
            margin-left:0;
        }
        &:last-child{
            margin-right:0;
        }
        &:hover{
            box-shadow:0px 0px 0px 1px @main-color;
            h5{
                color:@main-color;
            }
        }
    }
}
.images-margin{
    text-align: justify;
    margin:40px 0;
    &:after{
        content:'';
        display: inline-block;
        width:100%;
    }
    img{
        display: inline-block;
    }
}
.big-bg-caruseul{
    background:url('@{img_patch}bottom-slider-1.jpg');
    background-size: cover;
    background-position: center;
    padding:43px 0;
    clear: both;
    height: 440px;
    .caruseul-title{
        font-size:20px;
        color:white;
        text-transform: uppercase;
    }
    .owl-dots{
        display: none !important;
    }
}
.owl-carousel{
    margin:40px 0 30px 0;
    .news-element, .product-preview{
        width:99%;
        margin:0;
        margin:1px 1px;
    }  
}
.owl-controls{
    .nav{
        position: absolute;
        top: -60px;
        right: 0;
        &>div{
            background: url('@{img_patch}slider-arrows.png') no-repeat;
            width: 37px !important;
            height: 37px !important;
            cursor: pointer;
            opacity: 0.6;
            float:left;
            margin:0 !important;
            display: block !important;
            transition: all 0.3s;
            overflow: visible !important;
            &:hover{
                opacity:1;
            }
            &.right-arrow{
                margin-left:4px !important;
                background-position: -37px 0;
            }
        }
    }
}
.catalog-page{
    background:#fafbfc;
    overflow: hidden;
    position: relative;
    .content-right{
        width:66.8%;
        float:right;
        padding:60px 0;
        margin-right: 70px;
    }
}
.content-left{
    width: 273px;
    float:left;
    &:after{
        content:'';
        background: #fff;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 273px;
        box-shadow: 1px 0 0 #eff0f2;
        
    }
    &:before{
        content:'';
        background: #fff;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width:99999px;
        margin-left:-99999px;
    }
    &__inner{
        position: relative;
        z-index: 2;
    }
}
.slider-caruseul{
    display: none;
    border-radius: 3px;
    overflow: hidden;
    margin-top:0;
    .nav{display: none;}
    .slide{
        height:340px;
        position: relative;
        width: 100%;
        vertical-align: middle;
        .image{
            background-size: cover !important;
            background-position: center !important;
            position: absolute;
            top:0;
            right:0;
            z-index: 0;
            bottom:0;
            left:0;
        }
        &:before{
            content:'';
            position: absolute;
            left:0;
            top:0;
            bottom:0;
            z-index: 1;
            opacity: 0;
            width: 300px;
            transition: all 0.6s;
background: -moz-linear-gradient(left,  rgba(0,0,0,0.54) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.54) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0.54) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
        }
        .title{
            color: #fff;
            font-size: 21px;
            margin-top:110px;
            font-family: L;
            position: relative;
            line-height: 26px;
            width: 250px;
            left:50px;
            margin-left: 31px;
            z-index: 2;
            float: left;
            transition: all 0.6s 0.3s;
            opacity: 0;
        }
        .button{
            margin-left:31px;
            margin-top:31px;
            clear: both;
            position: relative;
            float:left;
            opacity: 0;
            transition: all 0.6s 0.6s;
            z-index: 2;
        }
    }
    .owl-item.active{
        .slide{
            &:before{opacity:1;}
            .title, .button{opacity:1;left:0px;}
        } 
    }
    .owl-dots{
        position: absolute;
        bottom:20px;
        right:25px;
    }
}
.owl-dots{
    .owl-dot{
        width: 16px;
        height: 16px;
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: .5;
        transition: all .3s;
        margin-left: 3px;
        line-height: 13px;
        text-indent: -1px;
        float: left;
        text-align: center;
        span{
            height: 6px;
            display: inline-block;
            width: 6px;
            background: #fff;
            border-radius: 50%;
            transition: all 0.3s;
            opacity:0;
        }
        &:hover{
            opacity:1;
        }
        &.active{
            opacity:1; 
            span{
                opacity:1;
            }
        }
    }  
}
.sort{
    .sort-element{
        color:#b4b4b6;
        text-decoration: underline;
        margin-left:5px;
        &:hover{text-decoration: none;}
        &.active{
            color:@main-color;
            text-decoration: none;
            
        }
        &:after{
            content:' | ';
            display: inline-block;
            color:#b4b4b6;
            margin-left:6px;
        }
        &:last-child:after{display: none;}
    }
}
.products{
    width:100%;
    float:left;
    margin-top:30px;
    .product-preview{
        margin: 1.6%;
        &:nth-child(3n+1){margin-left:0;}
        &:nth-child(3n+3){margin-right:0;}
    }
}
.product-preview{
    float:left;
    border-radius: 3px;
    overflow: hidden;
    background:white;
    box-shadow:0px 0px 0px 1px #e7e8eb;
    width:31.08%;
    .image{
        height:180px;
        width:100%;
        display: block;
        background-size:cover !important;
        background-position: center !important;
    }
    .product-class{
        font-size:11px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .product-name{
        color:@main-color;
        font-size:16px;
        text-transform: uppercase;
        height:39px;
        overflow: hidden;
        display: block;
    }
    .content-product-preview{
        padding:0 22px;
    }
    .product-event{
        padding:12px 22px;
        clear: both;
        overflow: hidden;
        border-top:1px solid #e7e8eb;
        .price{
            float:left;
            font-size:21px;
            line-height: 35px;
        }
        .button{
            float:right;
            min-width: 100px;
            .icon-cart{
                top: 3px;
                left: -3px;
            }
        }
    }
    .rating{
        margin-top:10px;
        margin-bottom:15px;
        float:left;
    }
}
.rating{
    span.count-reviews{
        color: #b4b4b6;
        float: left;
        margin-left: 10px;
        margin-top: -2px;
    }
    .stars{
        background:url('@{img_patch}rating-stars.png');
        height:15px;
        float:left;
        width:64px;
        &>div{
            width: 16px;
            float:left;
            height:15px;
            background:url('@{img_patch}rating-stars.png');
            background-position: 0 -15px;
        }
    }
}
.product{
    overflow: hidden;
}
.product__images{
    float:left;
    width: 44.5%;
    margin-right: 2.4%;
    .main-img{
        width:100%;
        height:355px;
        border-radius: 3px;
        position: relative;
        border:1px solid #e7e8eb;
        img{
            position: absolute;
            top:50%;
            max-width:100%;
            max-height:100%;
            left:50%;
            transform: translate(-50%, -50%);
        }
    }
    .previews-img{
        display: none;
        width: 86%;
        margin: 20px auto;
        .owl-dots{display: none !important;}
        &__element{
            height:71px;
            cursor: pointer;
            border-radius: 2px;
            position: relative;
            transition: all 0.3s;
            box-shadow:0px 0px 0px 1px #e7e8eb inset;
            &:hover, &.active{
               box-shadow:0px 0px 0px 1px @main-color; 
            }
            img{
                max-width: 90%;
                max-height:80%;
                position: absolute;
                top:50%;
                left:50%;
                width:auto !important;
                transform: translate(-50%, -50%);
            }
        }
        .owl-controls .nav{
            position: static;
            &>div{
                background:url('@{img_patch}arrow-images.png') no-repeat;
                width: 6px!important;
                height: 11px!important;
                position: absolute;
                top: 32px;
                left:-25px;
                &.right-arrow{
                    transform: rotate(180deg);
                    right:-25px;
                    left:auto;
                    
                }
            }
        }
    }
}
.product__description{
    float:left;
    width: 53.1%;
    h2{
        margin-top:0;
    }
    .rating{
        margin-bottom: 10px;
        float: left;
    }
    .text-description{
        clear: both;
        margin-top:10px;
    }
    .price{
        font-size:26px; 
        padding:7px 0 15px 0;
    }
    .count{
        margin-left:20px;
    }
    .add-to-cart{
        margin-top: 14px;
        .icon-cart {
            top: 3px;
            left: -3px;
        }
    }
}
.count{
    display: inline-block;
    *{
        display: inline-block;
    }
    input{
        width:55px;
        padding: 9px;
        text-align: center;
        margin:0px 4px;
    }
    div{
        font-size: 20px;
        transition: all .3s;
        cursor: pointer;
        width: 15px;
        height: 35px;
        text-align: center;
        &:hover{
            color:@main-color;
        }
    }
}
.product-tabs{
    overflow: hidden;
    &__buttons{
        text-align: center;
        &>div{
            display: inline-block;
            text-transform: uppercase;
            margin:0 16px;
            padding-bottom:16px;
            cursor: pointer;
            transition:all 0.3s;
            &:hover{
                color:@main-color;
            }
            &.active{
                color:@main-color;
                box-shadow: 0 1px 0 #309fe1, 0 -1px 0 @main-color inset;
            }
        }
    }
    &__tab{
        display: none;
        &.active{display: block;}
        .table{
            display: table;
            background:white;
            width:100%;
            float:left;
            border: 1px solid #e7e8eb;
            border-radius: 3px;
            margin-bottom: 50px;
            &__head{
                color:@main-color;
            }
            &>div{
                display: table-row;
                &:nth-child(2n+2){
                    background:#fafbfc;
                }
                &>div{
                    display: table-cell;
                    padding:6px 15px;
                }
            }
        }
    }
    .gray-layout{
        border-top: 1px solid #e7e8eb;
    }
}
.index-block{
    overflow: hidden;
    position: relative;
    padding-top:@header-height;
    .content-left:after{
        display: none;
    }
}
.index-slider{
    min-height: 840px;
    position: static !important;
    .slides-wrap{
        display: none;
        margin: 0;
        position: absolute;
        margin-left: 274px;
    }
    .owl-dots{
        display: none !important;
    }
    .nav{
        top: auto;
        bottom: 66px;
        right: auto;
        left: 70px;
    }
    .slide{
        position: relative;
        height:840px;
        .image{
            position: absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
            background-size: cover !important;
            background-position: center !important;
        }
        &__text{
            position: absolute;
            color:white;
            max-width:506px;
            top:50%;
            left:110px;
            opacity: 0;
            transition: all 0.6s 0.3s;
            transform: translate(0%, -50%);
            .title{
                font-size:42px;
                text-transform: uppercase;
                line-height: normal;
            }
            .subtitle{
                font-size:15px;
                text-transform: uppercase;
            }
            .button{
                opacity:0;
                margin-left:40px;
                transition:all 0.4s 0.8s;
                margin-top:15px;
            }
        }
    }
    .owl-item.active{
        .slide__text{
            opacity: 1;
            left:70px;
            .button{
                opacity:1;
                margin-left:0px;
            }
        }
    }
}
.mini-news{
    border-top:1px solid #e7e8eb;
    border-bottom:1px solid #e7e8eb;
    padding:25px 0;
    .element{
        display: inline-block;
        cursor: pointer;
        transition: all .3s;
        text-decoration: none!important;
        padding: 1%;
        border-radius: 3px;
        width: 31%;
        .image{
            width:100px;
            border-radius: 3px;
            height:100px;
            float:left;
        }
        .text-description{
            padding-left:130px;
            .title{
                font-size:15px;
                color:#464451;
            }
        }
        &:hover{
            box-shadow:0px 0px 0px 1px #e7e8eb;
        }
    }
}
.index-products{
    overflow: hidden;
    margin-bottom: 35px;
    .product-preview{
        width: 23.38%;
        display: inline-block;
        margin: 0.8%;
        float:left;
    }
    .products-slide{
        width: 48.4%;
        display: inline-block;
        height: 343px;
        margin: .8%;
        float:left;
        position: relative;
        overflow: hidden;
        border-radius: 3px;
        .image{
            position: absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
            background-size:cover !important;
            background-position: center !improtant;
        }
        .title{
            color: #fff;
            font-size: 21px;
            margin-top: 110px;
            font-family: L;
            line-height: 26px;
            width: 250px;
            left: 30px;
            transition: all .6s .3s;
            position: relative;
            z-index: 2;
        }
        .button{
            position: relative;
            z-index: 2;
            margin-left: 30px;
            margin-top: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            width: 30%;
            transition: all 0.6s;
background: -moz-linear-gradient(left,  rgba(0,0,0,0.54) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.54) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0.54) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
        }
    }
}
.view-all{
    width: 98.4%;
    padding: 8px 0;
    margin: 0 auto;
    display: block;
    clear: both;
}
.seo-text{
    padding:40px 0;
    clear: both;
    border-top: 1px solid #e7e8eb;
    h2{
        margin-top:10px;
    }
}
.col-2-text {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
table{
    width:100%;
    border-spacing: 0 !important;
    border-top:1px solid #e7e8eb;
    border-bottom:1px solid #e7e8eb;
    color:#464451;
    border-radius: 3px;
    overflow: hidden;
    tr{
        td{
            border-right:1px solid #e7e8eb;
            border-bottom:1px solid #e7e8eb;
            text-align: center;
            background:white;
            padding: 10px 0px;
            transition: all 0.3s;
        }
        &:last-child{
            td{border-bottom:0;}
        }
        td:first-child{border-left:1px solid #e7e8eb;}
        &:hover{
            td{
                background:#fafbfc;
            }
        }
    }
    .table-head{
        td{
            border:none !important;
            background:none !important;
            font-size:14px;
        }
    }
}
.table-color-borders{
     border-top:0;
    .color-line{
        background:@main-color;
        height:2px;
        border:0;
        padding:0;
    }
}
.cart-table{
    margin-bottom:40px;
    .image{
        float: left;
        width: 100px;
        height: 70px;
        margin-right: 10px;
        text-align: center;
        img{
            max-width:100%;
            max-height:100%;
        }
    }
    .description{
        padding-left: 110px;
        .title{
            font-size: 15px;
            color: #464451;
            display: block;
            transition: all .3s;
            &:hover{
                text-decoration: none;
                color:@main-color;
            }
        }
        .tovar-code{
            color:#b4b4b6;
            font-size:11px;
        }
    }
    .price{
        font-size:26px;
    }
    td{
        &:nth-child(2){
            width: 250px;
        }
        &:nth-child(3){
            width: 150px;
        }
        &:first-child{
            text-align: left;
        }
    }
    tr:last-child{
        td{
            text-align: center;
        }
    }
    .itog-cart{
        background:white;
        padding:15px 0;
    }
}
.hided{
    display: none;
}
.history-table{
    td{
        padding: 10px 2%;
        vertical-align: top;
        &:nth-child(3){
            width:56%;
            text-align: left;
        }
    }
    tr:first-child{
        td:nth-child(3){
            text-align: center;
        }
    }
    .description{
        margin-bottom:10px;
        a{
            color:@main-color;
        }
    }
}
.buttonShowdInfo{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.remove{
    color: #c6cad5;
    transition: all .3s;
    cursor: pointer;
    font-size: 18px;
    padding: 0px 10px;
    &:hover{
        color:@main-color;
    }
}
.cart-event-block{
    float:left;
    margin-right:100px;
}
.modal-wrap {
    display: none;
}
.contact-info{
    clear: both;
    padding-top:40px;
    padding-bottom:60px;
    width:770px;
    .input{
        float:left;
        width:350px;
        margin-bottom:20px;
        &:nth-child(2n+2){float:right;}
    }
    input[type="submit"]{
        clear: both;
        display: block;
        padding: 8px 21px;
        
    }
}
.map-pointes{
    clear: both;
    padding:40px 0;
    overflow: hidden;
    .map-cart{
        width:48%;
        float:right;
        border-radius: 3px;
        overflow: hidden;
        height:400px;
        position: relative;
        background:lighten(@main-color-light, 25%);
        border: 1px solid #e7e8eb;
    }
    .pointes{
        width:48%;
        float:left;
        border-radius: 3px;
        overflow: hidden;
        height:400px;
        position: relative;
        border: 1px solid #e7e8eb;
        .pointes-list {
            height: 364px;
            overflow-y: auto;
            margin: 10px 10px;
            padding:0 8px;
            &::-webkit-scrollbar {  
            width:7px;
            border-radius:5px;
            }  
            &::-webkit-scrollbar-track {  
                background: #f9f9f9;  
            }  
            &::-webkit-scrollbar-thumb {  
                background:@main-color;
                border-radius:5px;
                transition:all 0.3s;
                &:hover{
                    background:@main-color-light;
                }
            }  
            .point{
                border-bottom:1px solid #e7e8eb;
                cursor: pointer;
                .radiobox{
                    label{
                        padding: 5px 0 5px 30px;
                        cursor: pointer;
                        &:before{
                            margin-left: -23px;
                        }
                    }
                }
                &:last-child{
                    border-bottom:none;
                }
            }
        }
    }
}
.modal{
    display: none;
    .input{
        width:288px;
        text-align: left;
        margin-bottom:12px;
        input{
            padding: 8px 0;
            text-indent: 15px;
        }
    }
    .fullWidth-button{
        margin-top:15px;
        margin-bottom:5px;
    }
}
.bottom-modal{
    background:#fafbfc;
    width:100%;
    padding:12px 0;
    text-align: center;
    border-top: 1px solid #e7e8eb;
    color:#cbcbcb;
    border-radius: 0px 0px 3px 3px; 
    .to-register, .to-login{
        color:@main-color;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .to-password{
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            color:@main-color;
        }
    }
}
.switches-left{
    padding-top:35px;
    height: 32px;
    h2{
        margin-top:0;
        margin-bottom: 0;
        display: inline-block;
        font-size:13px;
        transition:all 0.3s;
        cursor: pointer;
        &:hover{
            color:@main-color;
        }
        &.active{
            font-size:20px;
            cursor: text;
            color: #444 !important;
        } 
    }
}
.filter-wrap{
    margin-top: 34px;
    display: none;
    ul{
        width: 100%;
        clear: both;
        padding: 0;
        list-style: none;
        li{
            display: block;
            color: #464451;
            transition: all .3s;
            position: relative;
            box-shadow: 0 1px 0 0 #f2f2f4;
            &>span{
                cursor: pointer;
                display: block;
                height: 20px;
                padding: 10px 0 11px;
            }
            &:before{
                display: none;
            }
            &>span:before {
                content: '';
                position: absolute;
                top: 10px;
                bottom:0;
                margin-top: -10px;
                width: 99999px;
                margin-left: -99999px;
                box-shadow: 0 -1px 0 0 #f2f2f4,0 1px 0 0 #f2f2f4;
                transition: all .3s;
                box-shadow: 0 1px 0 0 #f2f2f4;
                
            }
            &>span:after {
                content: '';
                width: 4px;
                height: 7px;
                background: url(@{img_patch}arrows-menu.png);
                display: block;
                position: absolute;
                right: 20px;
                margin-top: -12px;
                color: #000;
                transition: transform .5s;
            }
            .param-filter{
                display: none;
                padding-bottom:12px;
                .slider-price{
                    padding-top:10px;
                    input{
                        display: inline-block;
                        width:60px;
                        text-align: center;
                        margin-left:5px;
                        padding: 7px 10px;
                    }
                    &>div{
                        display: inline-block;
                        &:nth-child(1){
                            margin-right: 20px;
                        }
                    }
                }
                .select{
                    margin-top:5px;
                    margin-bottom:7px;
                    margin-left:1px;
                }
            }
            &:first-child{
                box-shadow: 0 -1px 0 0 #f2f2f4,0 1px 0 0 #f2f2f4;
                 &>span { 
                    &:before{
                       box-shadow: 0 -1px 0 0 #f2f2f4,0 1px 0 0 #f2f2f4; 
                    }
                 }
            }
        }
    }
}
#slider {
    clear: both;
    border: none;
    border-radius: 0;
    height: 4px;
    background: #ededed;
    margin-bottom: 10px;
    position: relative;
    direction: ltr;
    width: 226px;
    margin-top:20px;
}
.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background:#ededed;
    border-radius: 2px;
}
.noUi-connect {
    -webkit-transition: background 450ms;
    transition: background 450ms;
}
.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.noUi-base, .noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#slider .noUi-connect {
    background: @main-color;
    box-shadow: none;
    border-radius: 0;
}

#slider .noUi-handle {
    width: 4px;
    height: 15px;
    background: @main-color;
    box-shadow: none;
    margin-top: -5px;
}
.select {
    width: 226px;
    clear: both;
    position: relative;
    .default {
        display: block;
        padding: 5px 28px 5px 17px;
        cursor: pointer;
        transition: all .3s;
        height: 20px;
        overflow: hidden;
        box-shadow: 0 0 0 1px rgb(242, 242, 244);
        text-overflow: ellipsis;
        white-space: nowrap;
        &:after {
            content:'';
            display: block;
            border-top: 3px solid #B7B7B7;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            position: absolute;
            right: 14px;
            top: 15px;
            opacity: .6;
            transition: all .3s;
        }
    }
     .sel {
        position: absolute;
        color: #a0a0a0;
        padding-top: 4px;
        margin-top:7px;
        display: none;
        width: 100%;
        background:white;
        box-shadow: 0px 0px 0px 1px #EFF0F2;
        span {
            clear: both;
            display: block;
            padding: 5px 18px;
            cursor: pointer;
            &:hover{
                background:@main-color;
                color:white;
            }
        }
    }
    &.open { 
        z-index: 3;
    }
}
.reviews{
    width:100%;
    clear: both;
    padding:5px 0;
    .name{
        float:left;
        margin: 0px 15px;
    }
    .date{
        float:left;
    }
    .review{
        padding:22px 0;
    }
    p{
        clear: both;
        padding-top:15px;
    }
}
.search-form{
    input[type="text"]{
        width:86%;
        padding: 8px 0px;
        text-indent: 30px;
        text-indent: 30px;
        background: url('@{img_patch}search-icon-2.png') 8px 9px no-repeat;
    }
    input[type="submit"]{
        width:13%;
        float:right;
        padding: 8px 0px;
    }
}
.two-buttons{
    overflow: hidden;
    border:1px solid @main-color;
    border-radius: 3px;
    float:left;
    &>div{
        display: block;
        float:left;
        background:white;
        border-radius: 0px;
        padding: 6px 10px;
        color:@main-color !important;
        &:hover{
            color:white !important;
        }
        &.active{
            background:@main-color;
            color:white !important;
        }
    }
}
.search-content{
    width:100%;
    clear: both;
    display: none;
    float:left;
    padding:30px 0;
    &.active{
        display: block;
    }
    .product-preview{
        width: 23%;
        margin: 1.3333333%;
        &:nth-child(4n+1) {
            margin-left: 0;
        }
        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }
    .news-element:nth-child(4n+1) {
        margin-left: 0;
    }
    .news-element:nth-child(4n+4) {
        margin-right: 0;
    }
}