@media screen and (max-width:1370px){
    .inner{
        width:95%;
    }
}
@media screen and (max-width:1200px){
    header{
       .menu-centred{
            position: relative;
            float: left;
            margin-left: 15px;
        } 
        .search-nav{
            float:right !important;
        }
    } 
    header .header-nav-bar>div>div .search{
        form.serachinput{
            top: 28px;
            left: auto;
            right: -10px;
            input{
                transition: all 0.3s 0.2s;
            }
        }
        &:before {
            content: '';
            display: block;
            border-bottom: 6px solid #fff;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            top: 27px;
            right: 2px;
            z-index: 2;
            opacity:0;
            transition: all 0.3s;
        }
        &.active{
            &:before {
                opacity:1;
                top: 21px;
                transition: all 0.3s 0.2s;
            }
            form.serachinput input{
                background:white;
                border:1px solid white;
                transition: all 0.3s;
                &:focus{
                    border:1px solid @main-color-light;
                    background:lighten(@main-color-light, 25%);
                }
            }
        }
    } 
    .product-preview{
        .content-product-preview{
            padding:0 12px;
        }
        .product-event{
            padding: 12px 12px;
            .price{
                font-size:15px;
            }
            .add-to-cart{
                padding: 8px 5px;
                .icon-cart{
                    margin-right: 1px;
                }
            }
        }
    }
    .catalog-page .content-right{
        margin-right: 0px;
    }
}
@media screen and (max-width:1030px){
    .menu-clicker{
        width: 34px;
        height: 35px;
        float: left;
        cursor: pointer;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
        position: relative;
        overflow: hidden;
         div {
            width: 100%;
            height: 2px;
            background: white;
            margin-bottom: 8px;
            transition: 0.5s;
            position: relative;
            &:nth-child(2):after {
                content: '';
                width: 100%;
                height: 100%;
                background: white;
                transition: all 0.5s;
                display: block;
            }
        }
    }
    header{
        .main-menu{
            display: none;
            position: absolute;
            top:@header-height;
            right:0;
            height:auto;
            &.active{
                display: block;
            }
            ul{
                display: block;
                border: 1px solid #F2F2F4;
                border-radius: 3px;
                overflow: hidden;
                padding:0;
                li{
                    display: block;
                    white-space: nowrap;
                    padding:0;
                    a{
                        display: block;
                        background:white;
                        padding: 11px 23px;
                        color:#777;
                        border-bottom: 1px solid #F2F2F4;
                        &:hover{
                            color:#fff;
                            background:@main-color-light;
                        }
                    }
                    &:last-child{
                        a{
                            border-bottom:none;
                        }
                    }
                }
            }
            &:before {
                content: '';
                display: block;
                border-bottom: 6px solid #fff;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                top: -5px;
                right: 26px;
                z-index: 2;
                transition: all .3s;
            }
        } 
        .menu-centred{
            float: right
        }
        .header-nav-bar>div>div .search{
            margin-left:0;
        }
    }
    .product-preview{
        .product-event{
            padding-top: 0;
            .price{
                width:100%;
                font-size:23px;
                text-align: center;
            }
            .add-to-cart{
                width:100%;
                text-align: center;
                padding:8px 0;
            }
        }
        .count-reviews{
            display: block;
            clear: both;
            margin-left: 0 !important;
            margin-top: 3px !important;
        }
    }
    .index-products  .products-slide{
        height: 398px;
        display: none;
    }
    .news-full-content{ 
        min-height:inherit;
        .image{
            width:35%;
        }
        .preview-description{
            padding-left:35%;
            &>div .text{
                height: 44px;
                overflow: hidden;
                padding-bottom: 0;
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width:900px){
    .news-element{
        width: 31.7%;
        margin: .8% !important;
    }
    .catalog-page  .content-right{
        width:100%;
        padding-top:20px;
        .slider-caruseul{
            display: none;
        }
    }
    #slider{
        display: block;
    }
    .mobile-show{
        display: block !important;
    }
    .mobile-hide{
        display: none !important;
    }
    .content-left{
        width:100%;
        float: none;
        &:before, &:after{
            display: none;
        }
        .switches-left{
                text-align: center;
                overflow: hidden;
                padding-bottom: 16px;
            h2{
                margin:0 10px;
                border:1px solid @main-color;
                border-radius: 3px;
                padding: 3px 10px;
                font-size: 16px;
                width: 120px;
                text-transform: none;
                color:@main-color !important;
                &.mobile-active{
                    background:@main-color;
                    color:white !important;
                }
            }
            span{
                display: none;
            }
            h2:after{
                border-top:4px solid @main-color !important;
                margin-right:5px;
                border-bottom:none !important;
            }
            h2.mobile-active:after{
                border-top: none !important;
                border-bottom:4px solid white !important;
            }
        }
        h2{
            margin-bottom:25px;
            cursor: pointer;
            text-align: center;
            &:after{
                content: '';
                display: inline-block;
                border-top: 4px solid #333238;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                position: relative;
                transition:all 0.3s;
                top: -4px;
                left: 6px;
            }
            &.active{
                &:after{
                    border-top:0;
                    border-bottom:4px solid #333238;
                }
                & + ul{
                    display: block;
                }
            }
        }
        ul{margin-bottom:40px;}
    }
    .index-block{
        padding-bottom: 20px;
    }
    .index-slider{
        overflow: hidden;
        min-height:400px;
        .slides-wrap{
            margin:0;
            position: relative;
        } 
        .slide{
            height:400px;
            &__text{
                width:90%;
                right:5%;
                .title{
                    font-size:25px;
                }
            }
        }
        .nav{
            left:50%;
            bottom:20px;
            margin-left:-39px;
            display: none;
        }
        .owl-item.active .slide__text{
            left:5%;
        }
    } 
    .products-menu{
        display: none;
    }
    .mini-news{
        .element{
            width:98%;
            margin-bottom:10px;
        }
    }
    .index-products .product-preview{
        width: 31.68%;
    }
    footer{
        .col-5>div{
            &:nth-child(2), &:nth-child(3){
                display: none;
            }
            &:nth-child(1){
                width: 25%;
            }
            &:nth-child(4){
                width:50%;
            }
            &:nth-child(5){
                .f-s11{
                    display: block;
                    clear: both;
                    margin-top:10px;
                }
            }
        }
    }
    .content-topped-type-2{
        height:auto;
        padding:15px 0;
        h1{
            font-size:27px;
        }
        .middle-text{
            position: static;
            transform: translate(0,0);
            text-align: center;
            margin: 0 auto;
            padding-top: 20px;
        }
    }
    .contact-blocks>div{
        width: 44%;
        margin: 1.5%!important;
        padding: 1.5%;
    }
    .product__images{
        width: 99.7%;
        margin:0;
    }
    .product__description{
        width:100%;
        margin-top:20px;
    }
    .big-bg-caruseul{
        display: none;
    }
    .contact-info{
        width: 100%;
        form>.input{
            width:48%;
            input{
                padding: 6px 0px;
                text-indent: 10px;
            }
        }
    }
}
@media screen and (max-width:740px){
    .cart-popup{
        width:400px;
    }
}
@media screen and (max-width:640px){
    .header-nav-bar{
        text-align: center;
        margin-right:5px;
        .cart, .person-cab-button{
            display: inline-block;
            float:none !important;
            margin-right: 20px;
        }
        &.search-nav{
            position: absolute;
            right: 3%;
            margin-right: 65px;
        }
        .cart-button{
            margin-right:0;
            &>span{
                display: none;
            }
        }
    }
    .person-cab-button{
        i{
            display: inline-block;
            font-size: 19px;
            position: relative;
            top: 2px;
        }
        span{
            display: none;
        }
    }
    header  .menu-centred{
        position: static !important;
        .main-menu{
            left:0;
            &:before{
                right:3%;
                margin-right: 23px;
            }
            &:after{
                content: '';
                display: block;
                position: absolute;
                bottom: -9983px;
                background: rgba(51, 50, 56, 0.41);
                height: 9999px;
                left: 0;
                right: 0;
            }
            ul{
                border-radius: 0;
                border:0;
                border-bottom:2px solid #333238;
            }
        }
    }
    header .header-nav-bar>div>div .search form.serachinput input{
        transition: all 0s;
    }
    header .header-nav-bar>div>div .search.active{
        &.active:before{
            display: none;
        }
        form.serachinput{
            position: fixed;
            right: 0;
            left: 0;
            top: 52px;
            background: rgb(66, 66, 66);
            padding: 10px 0;
            input{
                width: 94%;
                margin: 0 3%;
                padding: 6px 0;
            }
        }
    } 
    .header .header-nav-bar>div>div .cart{
        position: static;
    }
    .cart-popup{
        position: fixed;
        top:@header-height;
        left:0;
        right:0;
        border-radius: 0px;
        width:auto;
        bottom:0;
        .description{
            text-align: left;
            padding-left: 90px;
            .title, .subtext{
                overflow: visible;
                text-overflow: inherit;
                white-space: normal;       
                padding-right:70px;
            }
        }
        .products-list {
            position: absolute;
            top: 0;
            bottom: 64px;
            overflow-y: auto;
            width: 100%;
        }
        .itog{
            position: absolute;
            width: 90%;
            padding: 15px 5% 15px 5%;
            bottom: 0;
            span{
                float:left;
            }
        }
        &:before{
            right:3%;
            margin-right: 148px;
        }
    }
    .index-products .product-preview{
         width: 48.38%;
    }
    footer{
        .col-5{
            &>div{
                width:100% !important;
                margin:0 !important;
                margin-bottom:20px !important;
                text-align: center;
                .social{
                    text-align: center;
                    a{
                        float:none;  
                        display: inline-block;
                    }
                }
                .elgrow-logo{
                    float:none;
                    margin:0;
                }
            }
        }
    }
    .filter-wrap ul li{
        span{
            text-align: center;
        }
        .param-filter{
            text-align: center;
            .select{
                width:100%;
                background:white;
            }
            #slider{
                width:100%;
            }
            .ot, .do{
                width:46%;
                text-align: center;
                input{
                    width: 100%;
                    padding: 7px 0;
                    margin-top: 9px;
                }
                &.ot{
                    margin-right:8%;
                }
            }
            .checkbox{
                display: inline-block;
                margin:0px 7px;
            }
        }
    }
    .products{
        .product-preview{
            width: 47.58%;
            margin: 1.2% !important;
        }
    }
    .sort{
        &>*{
            display: block;
            float:left;
        }
    }
    .modal .input{
        width:100%;
    }
    .modal-content{
        .button{
            margin-bottom:10px;
        }
    }
    .middle-text{
        width: 80%;
        h1{
            font-size: 32px;
        }
    }
    .news-element{
        width: 48.38%;
    }
    .left-column-text{
        width:100%;
        padding:0;
    }
    .right-column-text{
        width:100%;
        padding-right:0
    }
    .contacts-map{
        width:90%;
        margin:0 auto;
    }
    .product__description .add-to-cart{
        width:100%;
        padding: 8px 0px;
    }
    .product__description .count {
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .contact-info{
        width: 100%;
        form>.input{
            width:100%;
        }
    }
    .search-content.active {
        overflow: auto;
        table{
            min-width:700px;
            td{
                min-width: 100px;
            }
        }
    }
}
@media screen and (max-width:400px){
    .index-products .product-preview{
        width: 96%;
        margin: 2%;
    }
    .products{
        .product-preview{
            width: 96%;
            margin: 2%;
        }
    }
    .content-left .switches-left h2 {
        padding: 3px 10px;
        font-size: 14px;
        width: 85px;
    }
    .news-element{
        width: 96%;
        margin: 2% !important;
    }
    .content-topped-type-2{
        h1{
            font-size:20px;
            line-height: normal;
        }
    }
    .contact-blocks>div{
        width: 93%;
        margin:2% !important;
        padding: 1.5%;
    }
}