// Переменные для сайта
@max-width: 1350px; // Максимальная ширина контента сайта
@left-column-width: 215px; // Ширина левой колонки
@footer-height: 135px; // Высота футера
@fonts_patch:'../fonts';

@main-color:#309fe1;
@main-color-light:lighten(@main-color, 20%);

@main-gray:#333238;
@header-height:52px;

@img_patch: "../img/";// Путь к картинкам фона

